.container{
    margin: 0%;
    display: flex;
    gap: 70px;
    padding: 60px;
    background-color: black;
    color: white;
    line-height: 1.5;
    flex-wrap: wrap;
}
.abc{
    width: 300px;
    margin-right: 200px;
}
@media screen and (max-width: 576px)
{
    .abc{
        margin-left: 170px;
        text-align: center;
        justify-content: center;
        }
    .container{
    text-align: center;
    justify-content: center;
    }
}